<%- include('./components/head')%>
<body>
    <%- include('./components/header')%>
    <main>
        <div class="container">
            <% filme.forEach(filme => { %>
            <div class="item">
                <h2><%= filme.nome %></h2>
                <p><%= filme.descricao %></p>
                <a href="/filmes/<%= filme.id %>"><img src="<%= filme.imagem %>" alt="capa do filme"></a>
            </div>
            <% }) %>
        </div>
    </main>
</body>

</html>